.margarita-container {
    height: 195px;
    overflow: hidden;
}

.margarita-container img {
    width: 100%;
}

.margarita-text {
    padding-bottom: 4rem;
    font-size: 15px;
    line-height: 1.4;
}

.btn-align-left {
    margin: 2rem 0;
}

@media all and (min-width: 768px) {
    
    .margarita-container {
        height: 300px;
        overflow: hidden;
    }
    
    .margarita-container img {
        margin-top: 2rem;
        height: 300px;
        object-fit: cover;
        object-position: 0px -70px;
    }
    .margarita-text p {
        margin: 2rem auto;
        width: 100%;
    }
}