:root {
    --main-bg-color: #F5F5F5;
    --main-color-palette: #424DA3;
    --main-color-white: #ffffff;
    --secondary-color-gray: #B2B2B2;
    --secondary-color-blue: #A5D1FE;
    --secondary-color-yellow: #FFC943;

  }

/* fonts */

  @font-face {
    font-family: "Metropolis";
    src: url("metropoli-font/");
  }

.service-xl {
    padding: 25px 30px;
}

.container h2 {
    text-align: left;
    margin: 0;
}

.form {
  width: 100%;
  margin: auto;

}

form .form-group {
  position: relative;
  margin: auto;
  margin-bottom: 4rem;
}

label, button {
  font-family: 'Metropolis', sans-serif;
  font-size: 0.9rem;
}

input, textarea {
  font-size: 0.9rem;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #F5F5F5;
  resize: none;
}

input:focus, textarea:focus {
  outline: none;
}

input:focus~label, input:valid~label, textarea:focus~label, textarea:valid~label {
  position: absolute;
  top: -16px;
  font-size: 0.9rem;
  color: var(--main-color-palette);
}

label {
  position: absolute;
  left: 5px;
  top: -5px;
  transition: 0.6s ease all;
  pointer-events: none;
}

.label {
  position: relative;
  display: block;
  width: 100%;
}

.label::before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background-color: var(--main-color-palette);
  transition: 0.3s ease all;
  left: 0%;
}

input:focus~.label::before,textarea:focus~.label::before {
  width: 100%;
}

button {
  font-weight: bold;
  color: var(--main-color-white);
  border: none;
}

button:focus, button:active {
  background-color: var(--secondary-color-blue);
}

.img-contact-footer {
  text-align: center;
  width: 100%;
}

.form-xl {
  --size: 250px;
  --gap: 1rem;
  --offset: calc((var(--size) + var(--gap)) / 2);
  display: grid;
  max-width: 1200px;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(var(--size), 1fr));
  grid-auto-rows: repeat(2, auto);
  padding: 2rem 30px;
  grid-gap: var(--gap);
}

footer {
  grid-template-rows: 200px;
}

@media all and (min-width: 576px) {
  .form-xl {
    --size: 500px;
    grid-template-columns: repeat(auto-fit, minmax(var(--size), 1fr));
  }
}

@media all and (min-width: 768px) {
 
  form {
    width: 100%;
  }

  .section hr {
    margin: 2rem;
  }
}

@media all and (min-width: 992px) {
  .form-xl img {
    order: 1;
  }

  .form-xl form {
    order: 2;
  }
  .service-xl {
    --size: 350px;
    --gap: 3rem;
    --offset: calc((var(--size) + var(--gap)) / 2);
    display: grid;
    max-width: 1400px;
    grid-template-columns: 50% 50%;
    grid-auto-rows: repeat(1, auto);
    padding: 2rem 6rem;
    grid-gap: var(--gap);
  }
  .service-xl div {
    grid-column-start: 2;
  }

  .form-xl {
    --gap: 3rem;
    display: grid;
    max-width: 1200px;
    grid-template-columns: 50% 50%;;
    grid-template-rows: auto;
    padding: 2rem 6rem;
    grid-gap: var(--gap);
  } 

  .seeMore-button {
  margin: 3rem 0;
  }
}

@media all and (min-width: 1440px) {
  .service-xl {
    --gap: 4rem;
    display: grid;
    max-width: 1500px;
    grid-template-columns: 50% 50%;
    grid-auto-rows: repeat(1, auto);
    padding: 2rem 6rem;
    grid-gap: var(--gap);
  }
  .service-xl div {
    grid-column-start: 2;
  }

  .form-xl {
    --size: 350px;
    --gap: 4rem;
    display: grid;
    max-width: 1500px;
    grid-template-columns: 50% 50%;;
    grid-template-rows: auto;
    padding: 2rem 6rem;
    grid-gap: var(--gap);
  } 
}
