
:root {
    --main-bg-color: #F5F5F5;
    --main-color-palette: #424DA3;
    --main-color-white: #ffffff;
    --secondary-color-gray: #B2B2B2;
    --secondary-color-blue: #A5D1FE;
    --secondary-color-yellow: #FFC943;
}

.service-xl {
    padding: 30px 25px;
}

.articles-nonContent {
    width: 100%;
    padding: 4rem 0;
    margin-top: 1.5rem;
}

.articles-nonContent p {
    margin: auto;
}

.articles-nonContent p {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

@media all and (min-width: 992px) {
    .service-xl {
        padding: 0 6rem;
    }
}