
:root {
    --main-bg-color: #F5F5F5;
    --main-color-palette: #424DA3;
    --main-color-white: #ffffff;
    --secondary-color-gray: #B2B2B2;
    --secondary-color-blue: #A5D1FE;
    --secondary-color-yellow: #FFC943;

  }

.container-articles {
    padding-left: 30px;
    padding-right: 30px;
}

.articles-nonContent {
    width: 100%;
    padding: 4rem 0;
    box-shadow: 0px 20px 25px #F5F5F5;
    background-color: var(--main-bg-color);
    margin-top: 1.5rem;
}

.articles-nonContent p {
    font-weight: bold;
    font-size: 25px;
    color: var(--secondary-color-gray);
    text-align: center;
}

.section-centered {
    margin-top: 3rem;
}