
:root {
    --main-bg-color: #F5F5F5;
    --main-color-palette: #424DA3;
    --main-color-white: #ffffff;
    --secondary-color-gray: #B2B2B2;
    --secondary-color-blue: #A5D1FE;
    --secondary-color-yellow: #FFC943;

  }

.services-grey-bg {
    background-color: var(--main-color-white);
}

.containerServices {
    padding-left: 30px;
    padding-right: 30px;
}

.graphics-div {
    width: 100%;
    box-shadow: 0px 20px 25px #F5F5F5;
}

.p-description--grey {
    font-size: 0.9rem;
    color: var(--secondary-color-gray);
    padding: 0px 15px 15px 15px;
    line-height: 1.4;
    text-align: center;
}

.graphics-div {
    height: auto;
}

@media all and (min-width: 768px) {
    .services-grey-bg {
        margin-top: 4rem;
    }

    .containerServices .service-xl h2 {
        font-size: 2.5rem;
        text-align: center;
        margin: 2rem;
    }

    .containerServices h4 {
        font-size: 1.5rem;
    }

    .service-xl {
        text-align: center;
    }
    .content-l , .content-r {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .services-grey-bg .graphics-div {
        width: 100%;
    }
}

@media all and (min-width: 992px) {
    .containerServices {
        margin: 0px 6rem;
        padding: 0px;
    }
    .service-xl {
        text-align: left;
    }
    .containerServices .service-xl h2 {
        margin: 0px;
        padding: 0px;
        font-size: 1.5rem;
        text-align: left;
        padding-top: 1rem;
    }
    .services-grey-bg {
        align-items: flex-start;
    }
    .content {
        display: flex;
        flex-direction: row;
    }
    .content-l {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-right: 1rem;
    }
    .content-r {
        width: 50%;
        flex-direction: column;
        justify-content: center;
    }
    


}