
:root {
    --main-bg-color: #F5F5F5;
    --main-color-palette: #424DA3;
    --main-color-white: #ffffff;
    --secondary-color-gray: #B2B2B2;
    --secondary-color-blue: #A5D1FE;
    --secondary-color-yellow: #FFC943;
  }



.service-xl {
    padding: 30px 25px;
}

.service-xl hr {
    
}

.service-xl >* {
    text-align: left;
}

.services-grey-bg {
    --size: 250px;
    --gap: 2rem;
    --offset: calc((var(--size) + var(--gap)) / 2);
    background-color: var(--main-color-white);
    display: grid;
    max-width: 1200px;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 285px) 420px ;
    grid-gap: var(--gap);
    padding: 0px 25px;
}

.graphics-div {
    width: 100%;
    box-shadow: 0px 20px 25px #F5F5F5;
    margin-top: 0px;
    height: auto;
}

.p-description--grey {
    font-size: 0.9rem;
    color: var(--secondary-color-gray);
    padding: 0px 15px 15px 15px;
    line-height: 1.2;
    text-align: center;
}

@media all and (min-width: 480px) {
    .services-grey-bg {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}


@media all and (min-width: 768px) {
    .services-grey-bg {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: repeat(2, auto);
        padding-top: 2rem;
    }
}

@media all and (min-width: 992px) {
    .service-xl {
        padding: 0px 6rem;
    }

    .graphics-div h4 {
        padding-top: 0px;
    }

    .graphics-div {
        justify-content: space-evenly;
    }

    .services-grey-bg {
        --size: 300px;
        --gap: 20px;
        --offset: calc((var(--size) + var(--gap)) / 2);
        display: grid;
        max-width: 1200px;
        padding: 0px 6rem;
        grid-template-columns: repeat(auto-fit, minmax(var(--size), 1fr));
        grid-auto-rows: repeat (2, 200px);
        grid-gap: var(--gap);
        padding-bottom: var(--offset);
        padding-top: 2rem;
    }

    .services-grey-bg .graphics-div:nth-child(even) {
        transform: translateY(var(--offset));
    }
}

@media all and (min-width: 1124px) {
    .services-grey-bg {
        --size: 420px;
        grid-template-columns: repeat(auto-fit, minmax(var(--size), 1fr));
        grid-template-rows: repeat(2, auto);
        padding-top: 2rem;
    
    }
}