/* VARIABLES */

:root {
    --main-bg-color: #F5F5F5;
    --main-color-palette: #424DA3;
    --main-color-white: #ffffff;
    --secondary-color-gray: #B2B2B2;
    --secondary-color-blue: #A5D1FE;
    --secondary-color-yellow: #FFC943;

  }

/* fonts */

  @font-face {
    font-family: "Metropolis";
    src: url("metropoli-font/");
  }

  h1, h2, h3, h4, h5, h6, a, p {
      font-family: 'Metropolis', sans-serif;
  }

/* base styles */

body {
    margin: 0;
}

ul li  {
    list-style: none;
}

ul {
    padding: 0px;
    margin: 0px;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    color: var(--secondary-color-gray);
    font-size: 0.9rem;
    font-weight: normal;
}

.h4-align {
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 22px;
}

a {
    text-decoration: none;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding-top: 15px;
}

hr {
    width: 45px;
    color: black;
    margin: auto 0;
    margin-top: 15px;
}

.d-display {
    display: none;
}


/* INDEX STYLES */
body.body-index {
    background-color: var(--main-bg-color);
}
.options-menu {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 354px;
    height: 165px;
    align-self: center;
    justify-content: space-around;

}

.index-button {
    display: flex;
    justify-content: space-between ;
}

h1.h1-index {
    font-weight: bold;
    font-size: 1.8rem;
}

.a-index:link, .a-index:visited, .a-index:active {
    text-decoration:none;
    color: var(--main-color-white);
}

.a-index {
    font-size: 0.9rem;
    font-weight: 700;
    background-color: #424DA3;
    color: var(--main-color-white);  
    padding: 20px;
    width: 140px;
    
}

/* mobile */

.home-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--main-color-white);
}

.primary-list ul li a {
    font-weight: bolder;
    font-size: 1.8rem;
}

.third-list a {
    font-size: 0.9rem;
    text-decoration: underline;
} 

.toggle-menu {
    padding: 45px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.second-list--flexItems {
    display: flex;
    flex-direction: row;
}

.second-list img {
    width: 45px;
}

.second-list--flexItems svg {
    padding-right: 15px;
}

.second-list , .third-list {
    padding-top: 45px;
}

.toggle-button , .toggle-brandName {
    display: none;
}

.visible-menu .svg-index {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.svg-isologo {
    fill:#424da3;
}

.menu-icon {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}


path.svg-isologo:hover, .svg-isologo:active, .svg-isologo:focus  {
    fill: var(--secondary-color-blue);
}

.a{
    fill:none;
    stroke:#000;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:2px;
}

svg:hover .a {
    stroke: var(--main-color-white);
}


.visible-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.toggle-menu {
    display: none;
}

/*CHEVRON UP*/

.go-top-container {
    position: fixed;
    bottom: 4rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    z-index: -1;
}

.go-top-button {
    width: 0rem;
    height: 0rem;
    background-color: var(--main-color-palette);
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.go-top-button i {
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: white;
    transition: .2s;
}

.show {
    z-index: 10;
}

.show .go-top-button {
    animation: popup .3s ease-in-out;
    width: 3rem;
    height: 3rem;
    z-index: 11;
}

.show i {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0% {
        width: 0rem;
        height: 0rem;
    }
    50% {
        width: 5rem;
        height: 5rem;
    }
    100% {
        width: 3rem;
        height: 3rem;
    }
}

.container .section {
    padding-top: 5rem;
    padding-left: 30px;
    padding-right: 30px;
}
.h4-line-height{
    line-height: 1.6;
}
.p-index--description {
    font-size: 0.9rem;
    width: 238px;
    line-height: 1.8;
}

.p-index--about {
     font-size: 0.9rem;
     line-height: 1.4;
     text-align: left;
 }

.button-classes {
    background-color: var(--main-color-palette);
    border-radius: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-classes:hover {
    background-color: var(--secondary-color-blue);
}

.footer-contact-btn:hover {
    background-color: var(--main-color-white);
    color: var(--secondary-color-blue);
}



.footer-h3 {
    color: var(--main-color-white);
}

.button-classes {
    font-weight: bold;
    color: var(--main-color-white);
}

.about-contact-button {
    width: 9rem;
    margin-top: 2rem;
}

.meter-content {
    padding-top: 2rem;
}
.flex-items {
    display: flex;
    justify-content: space-between;

}

/*meter styles */

.meter { 
	height: 15px;  /* Can be anything */
	position: relative;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
    border-radius: 25px;
    background-color: var(--main-bg-color);
	-boxshadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    overflow: hidden;
  }

  .meter-blue {
      background-color: var(--secondary-color-blue);
  }

  .meter-yellow {
      background-color: var(--secondary-color-yellow);
  }


.services-grey-bg {
    background-color: var(--main-bg-color);
    padding-top: 5rem;
    width: 100%;
    
    padding-bottom: 3rem;
}

.services-grey-bg .content div {
    align-content: center;
}

.services-grey-bg .d-flex {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-centered .t-align h3 {
    text-align: center;
}

.h2-textAlign {
    text-align: center;
}

.graphics-div {
    background-color: var(--main-color-white);
    width: 80%;
    margin-top: 3rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.graphics-div h4 {
    padding-top: 20px;
}

.graphics-div img {
    width: 90px;
}
.portfolio-img {
    width: 100%;
}

.seeMore-button {
    margin: 5rem auto;
    width: 6rem;
}

.disabled-btn {
    background-color: var(--secondary-color-blue);
    border-radius: 45px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    font-size: 0.9rem;
    color: var(--main-color-white);
    margin: 18px auto 22px auto;
}

.portfolio-boxShadow {
    box-shadow: 0px 20px 25px #F5F5F5;
    width: 100%;
}

.section-nonPadding {
    width: 100%;
    padding-top: 5rem;
}

.section-nonPadding h2 {
    padding-left: 30px;
}

.section-nonPadding h3 {
    padding-left: 30px;
}

.section-nonPadding hr {
    margin-left: 30px;
}

.section-nonPadding .img {
    margin-top: 5rem;
}

.blue-quote {
    background-color: var(--main-color-palette);
    align-self: center;
    padding: 5rem 10px;
}

.blue-quote h2 {
    color: var(--main-color-white);
    text-align: center;
    font-size: 1.5rem;
}

.section-centered {
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--secondary-color-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-centered .t-align h2 {
    color: var(--main-color-white);
    font-size: 1.5rem;
    text-align: center;
}

.hr-last {
    width: 80%;

    color: black;
    margin: 5rem auto;
} 

.second-list , .third-list {
    padding: 30px;
}

.second-list--flexItems {
    padding-top: 1rem;
}

.second-list--flexItems svg:hover .fb-svg {
    fill: var(--secondary-color-blue);
    stroke: var(--main-color-white);
}

/* tablet */

@media all and (min-width: 768px) {

    .container h2 {
        font-size: 2.5rem;
        text-align: center;
        margin: 2rem;
    }

    .section p {
        font-size: 1.25rem;
        width: 80%;
        text-align: justify;
    } 
    
    .container h4 {
        font-size: 1.5rem;
        margin: 3rem;
    }
    .container .section , .section-a--l , .section-a--r , .form-xl {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .d-display {
        display: none;
    }

    .first-section {
        margin-top: 4rem;
    }
   
    .meter-content {
        width: 60%;
        margin-bottom: 2rem;
    }
  
    .meter-content p {
        width: auto;
    }
    .flex-items {
        align-items: center;
    }
    .flex-items h4 {
        margin: 1rem;
        margin-left: 0px;
    }

    .services-grey-bg .graphics-div {
        width: 20rem;
        height: 20rem;
        align-content: space-between;
        margin: 3rem 0px;
        
        
    }
    .graphics-div h4 {
        text-align: center;
    }

    .blog-center p {
        text-align: center;
    }

    .second-list h3 {
        text-align: center;
    }
    .second-list--flexItems {
        justify-content: center;
    }
    .third-list {
        text-align: center;
    }
    .third-list >* {
        margin-bottom: 1rem;
    }
    .section-nonPadding h3 {
        text-align: center;
    }
    .section-nonPadding hr {
        margin:  0 auto;
        margin-top: 30px;
    }
    .t-align h2 {
        font-size: 2.5rem;
        margin: 2rem;
    }
 
}

/* desktop */

@media all and (min-width: 992px) {
    
    .container .section {
        display: flex;
        flex-direction: row;
        justify-items: initial;
        align-items: initial;
        padding: 0px 0px;
        justify-content: space-between;
    }


    .section-a--l , .section-a--r {
        display: block;
    }
    
    .d-display {
        display: block;
    }

    .section-a--r img {
        width: 100%;
    }

    .section-a--r {
        width: 40%;
    }

    .section-a--l {
        padding-left: 6rem;
        padding-top: 6rem;
    }
    .section-a--l h2 , p {
        text-align: left;
        margin: 0rem;
    }

    .container h4 {
        margin: 0px;
    }
    .container br {
        display: none;
    }

    .about-contact-button {
        margin: 0px;
        margin-top: 3rem;
    }

    .section-a--l h2 {
        font-size: 3rem;
    }

    .section-a--l p {
        font-size: 0.9rem;
        text-align: left;
        line-height: 1.2;
        width: 100%;
        padding-top: 5px;
    }

    .section-a--l img {
        height: 80%;
        align-content: center;
    }
    .section-m {
        box-sizing: border-box;
        align-self: center;
        padding-right: 6rem;
    }
    .section-a--r h2 {
        font-size: 1.5rem;
        text-align: left;
        margin: 0px;
    }
    .section-a--r p {
        text-align: initial;
        font-size: 0.9rem;
        line-height: 1.2;
        width: initial;
        padding-right: 5px;
    }
    .section-a--r hr {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .meter-content {
        width: 100%;
        padding-top: 1rem;
    }
    .meter {
        height: 10px;
    }

    .services-grey-bg {
        box-sizing: border-box;
        padding: 0px;
        width: initial;
    }
    
    .services-grey-bg .d-flex {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: -webkit-fill-available;
        margin: 0 6rem;
       
    }

    .d-flex .graphics-div {
        margin: 0.5rem;
        height: 8rem;
      
    }
    .graphics-div img {
        width: 4rem;
    }

    .services-grey-bg h2 , .section-nonPadding h2 {
        font-size: 1.5rem;
        margin: 0px;
    }

    .services-grey-bg h4 {
        font-size: 1.25rem;
    }
    .services-grey-bg h3 {
        margin-top: 2rem;
    }

    .seeMore-button {
        margin: 3rem auto;
    }
    .section-nonPadding .d-flex-2 {
        display: flex;
        flex-direction: row;
        margin-left: 6rem;
        margin-right: 6rem;
    }

    .h4-align {
        padding-bottom: 0px;
    }

    .portfolio-boxShadow .img {
        margin-top: 0px;
    }
    .container .blog-center {
        flex-direction: column;
        text-align: center;
    }
    .blog-center p {
        width: auto;
    }
    footer .hr-last {
        margin: 3rem auto;
    }
    .section-centered {
        flex-direction: row;
        padding: 0px 6rem;
        justify-content: space-between;
    }
    .section-centered a {
        order: 3;
    }
    .section-centered img {
        order: 1;
    }
    .section-centered .t-align {
        order: 2;
    }
    .section-centered .t-align h3 , h2 {
        text-align: left;  
    }
    .section-centered .t-align h2 {
        margin: 0px;
        text-align: left;
    }
    .section-centered >* {
        margin-left: 1rem;
    }
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0px 6rem;
    }

}   