/* VARIABLES */
* { box-sizing: border-box; }
html { scroll-behavior: smooth; }
:root {
    --main-bg-color: #F5F5F5;
    --main-color-palette: #424DA3;
    --main-color-white: #ffffff;
    --secondary-color-gray: #B2B2B2;
    --secondary-color-blue: #A5D1FE;
    --secondary-color-yellow: #FFC943;
    --nav-height: 4rem;
  }

/* fonts */

@font-face { font-family: "Metropolis"; src: url("metropoli-font/"); }

/* base styles */

body {
    margin: 0;
    padding-top: var(--nav-height);
    font-family: 'Metropolis', sans-serif;
}

ul li  {
    list-style: none;
}

ul {
    padding: 0px;
    margin: 0px;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    color: var(--secondary-color-gray);
    font-size: 0.9rem;
    font-weight: normal;
}

.h4-align {
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 22px;
}

a {
    text-decoration: none;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding-top: 15px;
}

hr {
    width: 45px;
    color: black;
    margin: auto 0;
    margin-top: 15px;
}

.d-display {
    display: none;
}

body.body-index {
    background-color: var(--main-bg-color);
}

/* SOCIAL */
.social-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.social-nav h3 {
    flex: 1 0 100%;
}

.social-nav a {
    display: block;
}

.social-nav a + a {
    margin-left: 1rem;
}

.social-nav a svg {
    overflow: visible;
}

.social-nav a:hover svg circle {
    fill: var(--secondary-color-blue);
    stroke: var(--secondary-color-blue);
}

.social-nav a:hover svg circle ~ * {
    stroke: #fff;
}
/* FIN SOCIAL NAV */

/* INICIO CONTACTO */
.contact h3 {
    margin-bottom: .5rem;
}

.contact a {
    padding-bottom: 0.25em;
    font-size: .9rem;
    border-bottom: 1px solid #000;
}

.contact a:hover {
    color: var(--secondary-color-blue);
    border-bottom-color: var(--secondary-color-blue);
}
/* FIN CONTACTO */

/* INICIO DEL NAV */
header {
    position: relative;
    z-index: 200;
}

.toggle-button {
    border: 0;
    padding: 0;
    margin: 0;
    display: block;
    background: transparent;
    cursor: pointer;
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.toggle-button .close-icon {
    display: none;
}

.toggle-button::after {
    background-color: var(--secondary-color-blue);
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    z-index: -1;
    border-radius: 100%;
    transition: 350ms ease;
    opacity: 0;
    transform: scale(0);
}

.toggle-button:hover::after {
    transform: scale(1);
    opacity: 1;
}

.toggle-button svg {
    stroke: #000;
    position: relative;
    stroke-width: 2px;
    z-index: 2;
}

.toggle-button:hover svg {
    stroke: #ffffff;
}

.toggle-button:focus {
    outline: 0;
}

.toggle-menu {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    flex-direction: column;
    align-content: space-between;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    background-color: rgba(66, 77, 163, 0.3);
    transform: translateX(100%);
    transition: 400ms ease-in-out;
    z-index: 20;
}

.toggle-menu > nav {
    grid-column-start: 2;
    background-color: #fff;
    padding: 150px 3rem 0 90px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
}

.toggle-menu > nav .toggle-button  {
    position: absolute;
    top: 1rem;
    right: 2rem;
}

.main-nav h3 {
    font-size: 15px;
    line-height: 1.2;
    color: #bababa;
}

.toggle-menu .main-nav {
    display: flex;
    flex-direction: column;
}

.toggle-menu .main-nav .nav-link {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 1rem;
    font-weight: 700;
    position: relative;
}

.toggle-menu .main-nav .nav-link:not(.active)::before {
    position: absolute;
    content: "";
    background-color: var(--secondary-color-blue);
    height: 15px;
    width: 15px;
    display: block;
    bottom: 22px;
    border-radius: 100%;
    transition: 250ms ease;
    left: -44px;
    opacity: 0;
}

.toggle-menu .main-nav .nav-link:not(.active):hover::before {
    left: -22px;
    opacity: 1;
}

.toggle-menu .main-nav .nav-link:hover {
    color: var(--secondary-color-blue);
    transition-delay: 250ms;
}

.toggle-menu .main-nav .nav-link.active {
    color: var(--secondary-color-blue);
}
.toggle-menu h3 {
    font-size: 15px;
}
.toggle-menu .main-nav h3,
.toggle-menu .social-nav h3 {
    margin-bottom: 1.5rem;
}

.toggle-menu .social-nav {
    flex-direction: column;
}

.toggle-menu .social-nav h3 {
    flex: 0 0 auto;
}

.toggle-menu .social-nav a + a {
    margin-top: 1rem;
    margin-left: 0;
}


body.nav-open .toggle-menu {
    transform: translateX(0) !important;
}

body.nav-open .toggle-button .close-icon {
    display: block;
}


body.nav-open .toggle-button .menu-icon {
    display: none;
}
/* Fin del Nav */


/* FOOTER */
footer {
    max-width: 1500px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 100px;
    justify-content: space-between;
    padding: 3rem 1rem;
    border-top: 2px solid var(--secondary-color-gray);
}

footer > *:last-child {
    justify-self: flex-end;
}
/* FIN DEL FOOTER */
.options-menu {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 354px;
    height: 165px;
    align-self: center;
    justify-content: space-around;

}

.index-button {
    display: flex;
    justify-content: space-between ;
}

h1.h1-index {
    font-weight: bold;
    font-size: 1.8rem;
}

.a-index:link, .a-index:visited, .a-index:active {
    text-decoration:none;
    color: var(--main-color-white);
}

.a-index {
    font-size: 0.9rem;
    font-weight: 700;
    background-color: #424DA3;
    color: var(--main-color-white);
    padding: 20px;
    width: 140px;
}

.home-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--main-color-white);
}

.toggle-brandName {
    display: none;
}

.svg-isologo {
    fill:#424da3;
}

path.svg-isologo:hover, .svg-isologo:active, .svg-isologo:focus  {
    fill: var(--secondary-color-blue);
}

.visible-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: var(--nav-height);
    padding: 0 1rem;
}

.container .section {
    padding-top: 5rem;
    padding-left: 30px;
    padding-right: 30px;
}
.h4-line-height{
    line-height: 1.6;
}
.p-index--description {
    font-size: 0.9rem;
    width: 238px;
    line-height: 1.8;
}

.p-index--about {
     font-size: 0.9rem;
     line-height: 1.4;
     text-align: left;
 }

.button-classes {
    background-color: var(--main-color-palette);
    border-radius: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-classes:hover {
    background-color: var(--secondary-color-blue);
}

.button-classes {
    font-weight: bold;
    color: var(--main-color-white);
}

.about-contact-button {
    width: 9rem;
    margin-top: 2rem;
}

.meter-content {
    padding-top: 2rem;
}
.flex-items {
    display: flex;
    justify-content: space-between;

}

/*meter styles */

.meter {
	height: 15px;  /* Can be anything */
	position: relative;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
    border-radius: 25px;
    background-color: var(--main-bg-color);
	/* box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3); */
}

.meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    overflow: hidden;
  }

  .meter.meter-blue span {
      background-color: var(--secondary-color-blue);
  }

  .meter.meter-yellow {
      background-color: var(--secondary-color-yellow);
  }

.services-grey-bg {
    background-color: var(--main-bg-color);
    padding-top: 5rem;
    width: 100%;
    padding-bottom: 3rem;
}

.services-grey-bg .content div {
    align-content: center;
}

.services-grey-bg .d-flex {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-centered .t-align h3 {
    text-align: center;
}

.h2-textAlign {
    text-align: center;
}

.graphics-div {
    background-color: var(--main-color-white);
    width: 80%;
    margin-top: 3rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.graphics-div h4 {
    padding-top: 20px;
}

.graphics-div img {
    width: 90px;
}
.portfolio-img {
    width: 100%;
}

.seeMore-button {
    margin: 5rem auto;
    width: 6rem;
}

.disabled-btn {
    background-color: var(--secondary-color-blue);
    border-radius: 45px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    font-size: 0.9rem;
    color: var(--main-color-white);
    margin: 18px auto 22px auto;
}

.portfolio-boxShadow {
    box-shadow: 0px 20px 25px #F5F5F5;
    width: 100%;
}

.section-nonPadding {
    width: 100%;
    padding-top: 5rem;
}

.section-nonPadding h2 {
    padding-left: 30px;
}

.section-nonPadding h3 {
    padding-left: 30px;
}

.section-nonPadding hr {
    margin-left: 30px;
}

.section-nonPadding .img {
    margin-top: 5rem;
}

.blue-quote {
    background-color: var(--main-color-palette);
    align-self: center;
    padding: 5rem 10px;
}

.blue-quote h2 {
    color: var(--main-color-white);
    text-align: center;
    font-size: 1.5rem;
}

.section-centered {
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--secondary-color-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-centered .t-align h2 {
    color: var(--main-color-white);
    font-size: 1.5rem;
    text-align: center;
}

.hr-last {
    width: 80%;
    color: black;
    margin: 5rem auto;
}


/* tablet */

@media all and (min-width: 768px) {

    .container h2 {
        font-size: 2.5rem;
        text-align: center;
        margin: 2rem;
    }

    .section p {
        font-size: 1.25rem;
        width: 80%;
        text-align: justify;
    }

    .container h4 {
        font-size: 1.5rem;
        margin: 3rem;
    }
    .container .section , .section-a--l , .section-a--r , .form-xl {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .d-display {
        display: none;
    }

    .meter-content {
        width: 60%;
        margin-bottom: 2rem;
    }

    .meter-content p {
        width: auto;
    }
    .flex-items {
        align-items: center;
    }
    .flex-items h4 {
        margin: 1rem;
        margin-left: 0px;
    }

    .services-grey-bg .graphics-div {
        width: 20rem;
        height: 20rem;
        align-content: space-between;
        margin: 3rem 0px;
    }

    .graphics-div h4 {
        text-align: center;
    }

    .blog-center p {
        text-align: center;
    }

    .section-nonPadding h3 {
        text-align: center;
    }
    .section-nonPadding hr {
        margin:  0 auto;
        margin-top: 30px;
    }
    .t-align h2 {
        font-size: 2.5rem;
        margin: 2rem;
    }

}

/* desktop */

@media (min-width: 992px) {
    .container .section {
        display: flex;
        flex-direction: row;
        justify-items: initial;
        align-items: initial;
        padding: 0px 0px;
        justify-content: space-between;
    }

    .section-a--l , .section-a--r {
        display: block;
    }

    .d-display {
        display: block;
    }

    .section-a--r img {
        width: 100%;
    }

    .section-a--r {
        width: 40%;
    }

    .section-a--l {
        padding-left: 6rem;
        padding-top: 6rem;
    }
    .section-a--l h2 , p {
        text-align: left;
        margin: 0rem;
    }

    .container h4 {
        margin: 0px;
    }
    .container br {
        display: none;
    }

    .about-contact-button {
        margin: 0px;
        margin-top: 3rem;
    }

    .section-a--l h2 {
        font-size: 3rem;
    }

    .section-a--l p {
        font-size: 0.9rem;
        text-align: left;
        line-height: 1.2;
        width: 100%;
        padding-top: 5px;
    }

    .section-a--l img {
        height: 80%;
        align-content: center;
    }
    .section-m {
        align-self: center;
        padding-right: 6rem;
    }
    .section-a--r h2 {
        font-size: 1.5rem;
        text-align: left;
        margin: 0px;
    }
    .section-a--r p {
        text-align: initial;
        font-size: 0.9rem;
        line-height: 1.2;
        width: initial;
        padding-right: 5px;
    }
    .section-a--r hr {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .meter-content {
        width: 100%;
        padding-top: 1rem;
    }
    .meter {
        height: 10px;
    }

    .services-grey-bg {
        padding: 0px;
        width: initial;
    }

    .services-grey-bg .d-flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: -webkit-fill-available;
        margin: 0 6rem;

    }

    .d-flex .graphics-div {
        margin: 0.5rem;
        height: 8rem;

    }
    .graphics-div img {
        width: 4rem;
    }

    .services-grey-bg h2 , .section-nonPadding h2 {
        font-size: 1.5rem;
        margin: 0px;
    }

    .services-grey-bg h4 {
        font-size: 1.25rem;
    }
    .services-grey-bg h3 {
        margin-top: 2rem;
    }

    .seeMore-button {
        margin: 3rem auto;
    }
    .section-nonPadding .d-flex-2 {
        display: flex;
        flex-direction: row;
        margin-left: 6rem;
        margin-right: 6rem;
    }

    .h4-align {
        padding-bottom: 0px;
    }

    .portfolio-boxShadow .img {
        margin-top: 0px;
    }
    .container .blog-center {
        flex-direction: column;
        text-align: center;
    }
    .blog-center p {
        width: auto;
    }
    footer .hr-last {
        margin: 3rem auto;
    }
    .section-centered {
        flex-direction: row;
        padding: 0px 6rem;
        justify-content: space-between;
    }
    .section-centered a {
        order: 3;
    }
    .section-centered img {
        order: 1;
    }
    .section-centered .t-align {
        order: 2;
    }
    .section-centered .t-align h3 , h2 {
        text-align: left;
    }
    .section-centered .t-align h2 {
        margin: 0px;
        text-align: left;
    }
    .section-centered >* {
        margin-left: 1rem;
    }
}


/*GO UP*/
.go-top {
    position: fixed;
    bottom: 4rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    z-index: -1;
    background-color: var(--main-color-palette);
    border-radius: 50%;
    cursor: pointer;
    z-index: -1;
    display: flex;
    justify-content: center;
    transition: all 340ms ease;
    align-items: center;
    transform: scale(0);
}

.go-top i {
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    color: white;
    line-height: 1;
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
}

.show.go-top {
    transform: scale(1);
    opacity: 1;
    z-index: 20;
}

@media (max-width: 1024px) {
    .toggle-menu > nav {
        padding: 90px 3rem 0 45px;
    }

    .toggle-menu .main-nav .nav-link {
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    .toggle-menu {
        grid-template-columns: 20% 80%;
    }
}

@media (max-width: 576px) {
    .toggle-menu {
        grid-template-columns: 10% 90%;
    }

    .toggle-menu .main-nav .nav-link {
        font-size: 35px;
    }
}





/* PLAYGROUND DE GRILLAS */
.test {
    --size: 300px;
    --gap: 20px;
    --offset: calc((var(--size) + var(--gap)) / 2);
    display: grid;
    max-width: 1200px;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(var(--size), 1fr));
    grid-auto-rows: var(--size);
    grid-gap: var(--gap);
    padding-bottom: var(--offset);
}

.test .hijo {
    display: grid;
    background-color:red;
}

.test .hijo img {
    object-fit: cover;
    width: 100%;
    opacity: .5;
    height: 100%;
}
.test .hijo:nth-child(even) {
    display: grid;
    background-color:blue;
    transform: translateY(var(--offset));
}